*.cache
*.suo

Zoo App Pre-Alpha/Library/ScriptAssemblies/Assembly-CSharp.dll
Zoo App Pre-Alpha/Library/ScriptAssemblies/Assembly-CSharp.dll
Zoo App Pre-Alpha/Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Zoo App Pre-Alpha/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Zoo App Pre-Alpha/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Zoo App Pre-Alpha/Library/ScriptAssemblies/Unity.TextMeshPro.dll
Zoo App Pre-Alpha/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Zoo App Pre-Alpha/Library/shadercompiler-UnityShaderCompiler.exe0.log
Zoo App Pre-Alpha/Library/CurrentLayout.dwlt
Zoo App Pre-Alpha/Library/LastSceneManagerSetup.txt
*.cache
*.cache
*.cache
Zoo App Pre-Alpha/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
*.cache
Zoo App Pre-Alpha/Library/LastSceneManagerSetup.txt
Zoo App Pre-Alpha/.vs/Zoo App Pre-Alpha/v15/.suo
Zoo App Pre-Alpha/Library/LastSceneManagerSetup.txt
